#logo{
    background: initial;
    text-align: initial;
    width: initial;
}

a.navbar-brand{
    width: initial;
    background: initial;
}
.navbar-header{
    width: initial;
}

@media screen and (max-width: 1275px)and (min-width: 768px) {
    a.navbar-brand{
        width: 100%;
    }
    .navbar-header{
        width: 100%;
    }
    #logo{
        text-align: center;
        width: 100%;
    }
}



@media screen and (max-width: 768px) {
    a.navbar-brand{
        width: 50%;
    }
    .navbar-header{
        width: 100%;
    }
    #logo{
        text-align: left;
        width: 100%;
    }
}