#logo{
    background: initial;
    text-align: initial;
    width: initial;
    padding: 15px 25px 10px 20px !important;
    border: none!important;
}

a.navbar-brand{
    width: initial;
    background: initial;
}
.navbar-header{
    width: initial;
}

.navbar-nav > li:first-child {
    padding-left: 10px;
    border-left : 1px solid #e8e8e8;
}

#li_1{
    border-left : 1px solid #e8e8e8;
}


.navbar-nav > li > a {
    padding: 32px 15px;
}

@media screen and (max-width: 1275px)and (min-width: 768px) {
    a.navbar-brand{
        width: 100%;
    }
    .navbar-header{
        width: 100%;
    }
    #logo{
        text-align: center;
        width: 100%;
        height: 100%!important;
        border: none!important;
    }

    #li_1{
        border-left : none!important;
    }
}



@media screen and (max-width: 768px) {
    a.navbar-brand{
        width: 50%;
    }
    .navbar-header{
        width: 100%;
    }
    #logo{
        text-align: left;
        width: 100%;
    }


}